doctype html
html
	head
		script(src="/socket.io/socket.io.js")
		script(src="javascripts/jquery-1.11.0.js")
		script(src="javascripts/client.js")
	body
		// ADDINGS_BEGIN
		#usersContainer(style="float:left;width:80px;border-right:1px solid black;height:300px;padding:10px;overflow:scroll-y;")
			b USERS
			#users
		// ADDINGS_END
		#roomsContainer(style="float:left;width:80px;border-right:1px solid black;height:300px;padding:10px;overflow:scroll-y;")
			b ROOMS
			#rooms
		#conversationContainer(style="float:left;width:300px;border-right:1px solid black;height:300px;overflow:scroll-y;padding:10px;")
			b CONVERSATION
			br
			input#data(style="width:200px;")
			input#datasend(type="button", value="send")
			#conversation
		// ADDINGS_BEGIN
		#findUserContainer(style="float:left;width:250px;border-right:1px solid black;border-bottom:1px solid black;height:80px;overflow:scroll-y;padding:10px;")
			b FIND USER
			br
			input#usersearched(type="text", placeholder="username")
			input#usersearch(type="button", value="search")
			br
			#searchresult
		#bannUserContainer(style="float:left;width:250px;border-right:1px solid black;border-bottom:1px solid black;height:80px;overflow:scroll-y;padding:10px;")
			b BANN USER
			br
			input#userbanned(type="text", placeholder="username")
			input#userbann(type="button", value="bann")
			br
			#bannresult
		// ADDINGS_END