doctype html
html
	head
		script(src="/socket.io/socket.io.js")
		script(src="javascripts/jquery-1.11.0.js")
		script.
			var socket = io.connect('http://localhost:3000');
			
			// on connection to server, ask for user's name with an anonymous callback
			socket.on('connect', function(){
				// call the server-side function 'adduser' and send one parameter (value of prompt)
				socket.emit('adduser', prompt("What's your name?"));
			});
			
			// listener, whenever the server emits 'updatechat', this updates the chat body
			socket.on('updatechat', function (username, data) {
				$('#conversation').append('<b>'+username + ':</b> ' + data + '<br>');
			});
			
			// listener, whenever the server emits 'updaterooms', this updates the room the client is in
			socket.on('updaterooms', function(rooms, current_room){
				$('#rooms').empty();
				$.each(rooms, function(key, value) {
					if(value == current_room){
						$('#rooms').append('<div>' + value + '</div>');
					}
					else {
						$('#rooms').append('<div><a href="#" onclick="switchRoom(\''+value+'\')">' + value + '</a></div>');
					}
				});
			});
			
			// ADDINGS_BEGIN
			// listener, whenever the server emits 'updateusers', this updates the room the client is in
			socket.on('updateusers', function(users){
				$('#users').empty();
				$.each(users, function(key, value) {
					$('#users').append('<div>' + key + '</div>');
				});
			});
			// ADDINGS_END
			
			// ADDINGS_BEGIN
			socket.on('createroom', function(rooms, createdroom){
				if( $('#rooms').is(':empty') ) {
					// If ROOMS menu is empty, it means we have a new user (he emitted 'updaterooms')
					// So we fill with hyperlinks for other rooms
					if (rooms.length > 1) {
							rooms.pop();
							$.each(rooms, function(key, value) {
							$('#rooms').append('<div><a href="#" onclick="switchRoom(\''+value+'\')">' + value + '</a></div>');
						});
					}
					// And we put just a simple div for the created room
					$('#rooms').append('<div>' + createdroom + '</div>');
				} else {
					// We add the room to the end of the ROOMS menu
					$('#rooms').append('<div><a href="#" onclick="switchRoom(\''+createdroom+'\')">' + createdroom + '</a></div>');
				}
			})
			// ADDINGS_END
			
			// ADDINGS_BEGIN
			// listener, whenever the server emits 'fullnewroom', this update the chat body
			socket.on('fullnewroom', function (username, data) {
				$('#conversation').append('<b>'+username + ':</b> ' + data + '<br>');
			});
			// ADDINGS_END
			
			// ADDINGS_BEGIN
			// listener, whenever the server emits 'searchresult', this update the find user body
			socket.on('searchresult', function(data){
				$('#searchresult').html(data);
			});
			// ADDINGS_END
			
			// ADDINGS_BEGIN
			// listener, whenever the server emits 'bannresult', this update the find user body
			socket.on('bannresult', function(data){
				$('#bannresult').html(data);
			});
			// ADDINGS_END
			
			// ADDINGS_BEGIN
			// listener, whenever the server emits 'banninguser', this bann the user
			socket.on('banninguser', function(userbanned){
				socket.emit('bannme', userbanned);
			});
			// ADDINGS_END
			
			function switchRoom(room){
				socket.emit('switchRoom', room);
			}
			
			// on load of page
			$(function(){
				// CONVERSATION
					// when the client clicks SEND
				$('#datasend').click( function() {
					var message = $('#data').val();
					$('#data').val('');
					// tell server to execute 'sendchat' and send along one parameter
					socket.emit('sendchat', message);
				});
				
					// when the client hits ENTER on their keyboard
				$('#data').keypress(function(e) {
					if(e.which == 13) {
						$(this).blur();
						$('#datasend').focus().click();
					}
				});
				
				// ADDINGS_BEGIN
				// FIND USER
					// when the client clicks SEARCH
				$('#usersearch').click( function() {
					var usersearched = $('#usersearched').val();
					socket.emit('searchuser', usersearched);
				});
				
					// when the client hits ENTER on their keyboard
				$('#usersearched').keypress(function(e) {
					if(e.which == 13) {
						$(this).blur();
						$('#usersearch').focus().click();
					}
				});
			
				// BANN USER
					// when the client clicks SEARCH
				$('#userbann').click( function() {
					var userbanned = $('#userbanned').val();
					socket.emit('bannuser', userbanned);
				});
				
					// when the client hits ENTER on their keyboard
				$('#userbanned').keypress(function(e) {
					if(e.which == 13) {
						$(this).blur();
						$('#userbann').focus().click();
					}
				});
				// ADDINGS_END
			});

	body
		// ADDINGS_BEGIN
		#usersContainer(style="float:left;width:80px;border-right:1px solid black;height:300px;padding:10px;overflow:scroll-y;")
			b USERS
			#users
		// ADDINGS_END
		#roomsContainer(style="float:left;width:80px;border-right:1px solid black;height:300px;padding:10px;overflow:scroll-y;")
			b ROOMS
			#rooms
		#conversationContainer(style="float:left;width:300px;border-right:1px solid black;height:300px;overflow:scroll-y;padding:10px;")
			b CONVERSATION
			br
			input#data(style="width:200px;")
			input#datasend(type="button", value="send")
			#conversation
		// ADDINGS_BEGIN
		#findUserContainer(style="float:left;width:250px;border-right:1px solid black;border-bottom:1px solid black;height:80px;overflow:scroll-y;padding:10px;")
			b FIND USER
			br
			input#usersearched(type="text", placeholder="username")
			input#usersearch(type="button", value="search")
			br
			#searchresult
		#bannUserContainer(style="float:left;width:250px;border-right:1px solid black;border-bottom:1px solid black;height:80px;overflow:scroll-y;padding:10px;")
			b BANN USER
			br
			input#userbanned(type="text", placeholder="username")
			input#userbann(type="button", value="bann")
			br
			#bannresult
		// ADDINGS_END