doctype html
html
  head
    title ARCANE SPIRE 1890
  style
    #container {
      margin: 0 auto
    }
  body
    #container
      a(href='#active' style="margin-right: 20px;")
        = "CHAT"
      a(href='#inactive')
        = "JOB LIST"