doctype html
html
  head
    title ARCANE SPIRE 1890
  style.
    body {
      text-align: center;
    }
    a {
      display: block;
      margin: 0 auto;
      padding: 10px 20px;
      border-radius: 4px;
      background-color: blue;
      color: white;
    }
    a:hover {
      background-color: grey;
    }
  body
    a(href='chat')
      = "CHAT"
    a(href='job_list')
      = "JOB LIST"